@import './fonts';
@import './colors';

.section1 {
    width: 100vw;
    height: 40vh;
    background-image: url(./assets/3ColumsBg.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    .section1__container {
        width: 85%;
        height: 80%;

        display: flex;
        align-items: center;
        justify-content: space-around;

        .section1__content {
            width: 32%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 3vmin;
            text-align: center;
            color: $color-brown;
            font-weight: 300;

            .top {
                font-size: 90px;

            }

            .mid {
                font-size: 18px;
                color: $color-graydark;
                font-weight: normal;
            }

            .bottom {
                color: $color-graydark;
                font-size: 16px;
                width: 80%;
            }
        }
    }
}